/* body{
    color:white;
} */
.checkout-bar{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.checkout-details{
    user-select: none;
    margin-top: 5%;
    margin-left: 5%;
}