
.home-cart{
    display: grid;
    grid-template-columns: 16% 16% 16% 16%;
    justify-content: center;
}
.spinner{
   text-align: center;
}
@media screen and (max-width:480px){
    .home-cart{
        display: block;
    }
}